.container {
  position: relative !important;
  width: 100% !important;
  height: 400px !important;
  /* Adjust height as needed */
  overflow: hidden !important;
  margin-top: 10px !important;
}

.leftImage {
  position: absolute !important;
  top: 0 !important;
  height: 100% !important;
  width: 50% !important;
  object-fit: cover !important;
}
.rightImage {
  position: absolute !important;
  top: 0 !important;
  height: 100% !important;
  width: 50% !important;
  object-fit: cover !important;
}

.leftImage {
  left: 0 !important;
}

.rightImage {
  left: 50% !important;
}

.diagonalOverlay {
  position: absolute !important;
  top: 57% !important;
  left: 50% !important;
  width: 3% !important;
  height: 121% !important;
  background: white !important;
  transform: translate(-50%, -50%) rotate(12deg) !important;
  z-index: 1 !important;
}

.textContent {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  text-align: center !important;
  background-color: #EAE1D5D9 !important;
  z-index: 1 !important;
  padding: 24px !important;
}

@media (max-width: 900px){
  .textContent {
    font-size: 12px !important;
    width: 80% !important;
    padding: 24px 18px 10px 18px !important;
  }
  .diagonalOverlay{
    height: 103% !important;
    top: 50% !important;
  }
  .heading {
    font-size: 36px !important;
    color: #1E2203 !important;
  }
  .subheading {
    font-size: 12px !important;
    color: #1E2203 !important;
  }
}

@media (min-width: 901px){
  .container {
    margin-top: 65px !important;
    margin-bottom: 30px !important;
  }
  .heading {
    font-size: 72px !important;
  }
  .subheading {
    font-size: 20px !important;
  }
  .textContent {
    width: 58% !important;
  }
}