.mainContainer {
  padding: 16px 20px;
}

.headingText {
  font-size: 16px;
  font-weight: 700 !important;
  text-align: center;
}

.label {
  font-size: 14px;
  font-weight: 600;
}

.helperText {
  font-size: 12px;
  font-weight: 600;
}

.submitBtn {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  background-color: #658352;
}
