.backgroundContainer{
  background-color: #FBF9EF !important;
  width: 100% !important;
}
.contentContainer{
  padding: 20px 0px !important;
}
.links{
  margin-left: 44px !important;
  font-weight: 500 !important;
}
.buttonStyles{
  background-color: #658352 !important;
  padding: 10px 24px !important;
}
